#loginform{
	width:340px;
	margin:auto;
}

#loginform input{
	padding:3px;
	width:250px;
}
#loginform label{
	display:block;
	margin-bottom:5px;
}
#loginform span{
	display:inline-block;
	width:80px;
	font-size:14px;
}