body {
	font-family: Helvetica, sans-serif;
}

/* Título */
.titulo{
	text-align: left;
	font-size: 26px;
}

.linha {
	width: 650px;
	height: 5px;
	background-color: grey;
}

.sitemap {
	margin-top: 2px;
	font-size: 13px;
	font-weight: bold;
	color: #666666;
}

/* Botão */
.btn_painel {
	background-color: #6F81A3;
	padding: 5px;
	color: #FFF;
	font-size: 12px;
	text-decoration: none;
}

/* Tabela */
.tabela {
	margin: auto;
	margin-top: 20px;
	font-size: 14px;
	width: 95%;
}

.tabela th {
	background-color: #E0E0E0;
	height: 35px;
	text-align: right;
	padding-right: 10px;
}

.tabela td {
	line-height: 10px;
	text-align: center;
	padding: 10px;
}

.tabela tr:nth-child(2n+1){
	background:#EEE;
}
.tabela.inverse tr:nth-child(2n){
	background:#EEE;
}
.tabela.inverse tr:nth-child(2n+1){
	background:#FFF;
}

/* Index */
#meus_cursos {
	margin-left: 20px;
	margin-top: 15px;
	width: 300px;
	height: 200px;
	padding-top: 50px;
	text-align: center;
	color: grey;
	font-weight: bold;
	float: left;
	
}

#perfil_instrutor {
	float: right;
	margin-right: 20px;
	margin-top: 15px;
	width: 300px;
	height: 200px;
	padding-top: 50px;
	text-align: center;
	font-weight: bold;
	color: grey;
	
}

#meus_cursos a, #perfil_instrutor a {
	text-decoration: none;
	color: grey;
}