#cpcm_cursoinfo_title{
	display:block;
	padding:5px;
	border:1px solid #AAA;
}
.subcurso_menu{
	display:block;
	list-style:none;
}
	.subcurso_menu li{
		display:inline-block;
	}
		.subcurso_menu li a{
			display:block;
			padding:5px 15px;
			color:#666;
			font-size:14px;
			font-weight:bold;
		}
		.subcurso_current a{
			background:#679;
			color:#FFF !important;
			text-decoration:none;
		}