#sortable { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 60%; 
}
  
#sortable li { 
	margin: 0 3px 3px 3px; 
	padding: 0.4em; padding-left: 1.5em; 
	font-size: 14px; 
	height: 22px; 
	width: 500px;
	background: #82BEDE;
}

#sortable li span { 
	position: absolute; 
	margin-left: -1.3em; 
}

.btn-blue {
	 
	margin-top: -0.5em;
}